# {
	font-family:Verdana;
}

#formOne {
  padding:20px;
  font-size: 20px;
  width: 350px;
  background-color:gray;
  border-radius:15px;
  border:2px solid red;
}

#formTwo {
  padding: 20px;
  font-size: 20px;
  width: 350px;
  background-color:gray;
  border-radius:15px;
  border:2px solid blue;
}

#topSocket {
  background-color:red;
  font-size:30;
  font-weight:bold;
  border-radius:15px;
  border:2px solid black;
}

#temp {
  background-color:#FFBF00;
  font-size:30;
  font-weight:bold;
  font-color:white;
  border-radius:5px;
  border:2px solid black;
}

#tstamp {
  background-color:#FFBF00;
  font-weight:bold;
  font-color:white;
  border-radius:5px;
  border:2px solid black;
}

#btmSocket {
  background-color:blue;
  font-size:30;
  font-weight:bold;
  border-radius:15px;
  border:2px solid black;
}

.line {
  margin: 10px;
  
}



.submit {
	-moz-box-shadow: 2px 2px 0px 0px #f29c93;
	-webkit-box-shadow: 2px 2px 0px 0px #f29c93;
	box-shadow: 2px 2px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
}
.submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}
.submit:active {
	position:relative;
	top:1px;
}


#connectbutton {
	-moz-box-shadow: 2px 2px 0px 0px #f29c93;
	-webkit-box-shadow: 2px 2px 0px 0px #f29c93;
	box-shadow: 2px 2px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:15px 30px;
	margin:15px;
	text-decoration:none;
}
#connectbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}
#connectbutton:active {
	position:relative;
	top:1px;
}
